* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /*overflow-x: hidden;*/
}

.container {
    width: 100%;
    max-width: 1144px;
    margin: 0 auto;
}

.banner {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 221, 217);
}

.banner h1 {
    font-size: 22px;
}

.form-container form {
    background-color: rgba(146, 179, 214, 0.938);
    display: flex;
    flex-direction: column;
}

.input-container,
.option-both {
    display: flex;
}

.input-container select {
    text-align: center;
}

@media (min-width:250px) {
    .input-container>label,
    .option-both label {
        flex-basis: 40%;
    }
    .input-container,
    .option-both {
        justify-content: space-between;
        width: 100%;
    }
    .input-container textarea {
        height: 100px;
    }
    .input-container>textarea,
    .input-container>input,
    .input-container>select,
    .option-both>select,
    .option-both>textarea {
        width: 60%;
    }
    .option-both>select {
        height: 100%;
    }
    .form-container form {
        align-items: flex-start;
        padding-top: 8px;
        padding-left: 2px;
    }
    .date-time-container {
        flex-basis: 65%;
    }
    .date input,
    .time input {
        margin-left: 10px;
        height: 15px;
        width: 110px
    }
    .date,
    .time {
        padding-top: 8px;
    }
    .overflow-control p {
        flex-basis: 30%;
    }
    .option-both {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .otro-option {
        display: none;
    }
}

.input-container {
    margin: 5px 10px;
    padding: 8px 10px;
    border: 1.5px solid #fff;
    border-radius: 5px;
    width: 88%;
}

.enviar-input {
    width: 100%;
    display: flex;
    justify-content: center;
}

select {
    height: 40px;
    text-align: center;
    background-color: rgb(194, 193, 193);
    border: none;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#enviar {
    margin: 20px auto;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(153, 211, 151);
}