* {
    padding: 0;
    margin: 0;
}

.fw_pt10 {
    padding-top: 10px;
}

input,
textarea,
a {
    border: none;
    border-radius: 2px;
}

input[type="button"]:hover,
select {
    cursor: pointer;
}

label {
    padding-top: 2px;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1144px;
    margin: 0 auto;
}

.banner {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 221, 217);
}

.banner h1 {
    font-size: 22px;
}

.form-container {
    font-size: 0.65em;
}

.form-container form {
    background-color: rgba(146, 179, 214, 0.938);
    display: flex;
    flex-direction: column;
}

.input-container,
.option-both {
    display: flex;
}

.option-both input {
    width: 60%;
    height: 100%;
}

.input-container select {
    text-align: center;
}

@media (min-width:250px) {
    .input-container>label,
    .option-both label {
        flex-basis: 40%;
    }
    .input-container,
    .option-both {
        justify-content: space-between;
        width: 100%;
    }
    .input-container textarea {
        height: 100px;
    }
    .input-container>textarea,
    .input-container>input,
    .input-container>select,
    .option-both>select,
    .option-both>textarea {
        width: 60%;
    }
    .form-container form {
        align-items: flex-start;
        padding-top: 8px;
        padding-left: 1px;
        padding-right: 2px;
    }
    .date-time-container {
        flex-basis: 65%;
        text-align: right;
        padding-right: 10px;
    }
    .date input,
    .time input {
        margin-left: 10px;
        height: 15px;
        width: 110px
    }
    .date,
    .time {
        padding-top: 8px;
    }
    .overflow-control p {
        flex-basis: 30%;
    }
    .option-both {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .option-both input {
        width: 60%;
    }
    .wrap {
        flex-wrap: wrap;
    }
    .wrap>.option-both {
        flex-basis: 100%;
    }
    .otro-option {
        display: none;
        padding-top: 10px;
    }
    .multi-option {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width:360px) {
    .form-container {
        font-size: 0.9em;
    }
    .form-container form {
        padding-right: 0px;
    }
}

.input-container {
    margin: 5px 10px;
    padding: 8px 10px;
    border: 1.5px solid #fff;
    border-radius: 5px;
    width: 88%;
}

@media (min-width:410px) {
    .form-container {
        font-size: 0.9em;
    }
    .input-container {
        margin: 10px auto;
    }
    .date-time-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 30px;
    }
}

@media (min-width:600px) {
    .form-container {
        font-size: 1.1em;
    }
}

@media (min-width:700px) {
    .input-container>textarea,
    .input-container>input,
    .input-container>select,
    .option-both>select,
    .option-both>textarea,
    .option-both input {
        width: 300px;
        margin-right: 20px;
    }
}

.enviar-input {
    width: 100%;
    display: flex;
    justify-content: center;
}

textarea {
    resize: none;
}

select {
    padding: 12px 10px;
    text-align: center;
    background-color: rgb(194, 193, 193);
    border: none;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#enviar {
    margin: 20px auto;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(153, 211, 151);
}

.tabla-informe {
    margin: 0 auto;
    width: 300px;
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 0.5em;
}

.tabla-informe th,
.tabla-informe td {
    width: 50%;
    padding: 10px 15px;
    border-bottom: 0.85px solid #000;
}

.tabla-informe th {
    border-right: 0.85px solid #000;
}

#fases {
    display: none;
}

.informe {
    padding: 20px 0;
    display: none;
}

.informe-options {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.informe-options input,
a {
    font-size: 0.5em;
    padding: 5px 10px;
    background-color: rgb(172, 230, 225);
}

a {
    display: none;
    text-decoration: none;
    color: #000;
}

#preview {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

canvas {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

#download {
    display: none;
}

#nuevo_informe {
    display: none;
}